/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/app.sass ***!
  \************************************************************************************************************/
.gallow {
  display: flex;
}

.hangman {
  margin-left: -7.5rem;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hangman > *, .hangman-hands > *, .hangman-legs > * {
  transition: all 0.5s;
}
.hangman-body {
  margin-left: -0.1rem;
  margin-top: -5.1rem;
}
.hangman-hands, .hangman-legs {
  display: flex;
}
.hangman-hands > *.lost, .hangman-legs > *.lost, .hangman-body.lost, .hangman-head.lost {
  margin-bottom: -100vh;
  height: 0;
  transform: rotate(20deg);
}

body {
  height: 100vh;
  overflow: hidden;
}
