.gallow
    img(src="./images/gallows.svg", alt="Gallow")
    .hangman
        img(src="./images/head.svg", alt="Head").hangman-head
        .hangman-hands 
            img(src="./images/hand-one.svg", alt="Left hand")
            img(src="./images/hand-two.svg", alt="Right hand")
        img(src="./images/body.svg", alt="Body").hangman-body
        .hangman-legs
            img(src="./images/leg-one.svg", alt="Left leg")
            img(src="./images/leg-two.svg", alt="Right leg")