
.gallow
    display: flex 

.hangman
    margin-left: -7.5rem
    margin-top: 9rem
    display: flex
    flex-direction: column
    align-items: center
    > *, &-hands > *, &-legs > *
        transition: all 0.5s
    &-body
        margin-left: -0.1rem
        margin-top: -5.1rem
    &-hands, &-legs
        display: flex
    &-hands > *, &-legs > *, &-body, &-head
        opacity: 0
        &.show
            opacity: 1

@media (max-width: 900px) 
    .hangman
        margin-top: 3.4rem
        margin-left: -10.2rem
        &-hands > *, &-legs > *
            max-width: 2rem
        &-head 
            max-width: 2rem
        &-body
            max-height: 3rem
            margin-top: -2.5rem

    .gallow
        margin-left: -6rem
